# Feature Transformation

In [ ]:
If the categorical variables are the features(input columns) then we use ordianl encoding
if the target column is categorical like in classification problems then label encoding.

In [ ]:
Nominal data ---> one hot encoding
Ordinal data ---> Ordinal encoding
target column ---> Label Encoding

- Ordinal Encoding

In [41]:
#importing libraries
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [57]:
df = pd.read_csv("https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv")

In [43]:
df = df.iloc[:, 2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [44]:
print(df['review'].unique())
print(df['education'].unique())

['Average' 'Poor' 'Good']
['School' 'UG' 'PG']

In [45]:
X = df.iloc[:, 0:2]
y = df['purchased']

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=2)

In [47]:
encoder = OrdinalEncoder(categories=[['Average', 'Good','Poor'], ['School', 'UG', 'PG']])

In [48]:
encoder.fit(X_train)

OrdinalEncoder(categories=[['Average', 'Good', 'Poor'], ['School', 'UG', 'PG']])

In [49]:
X_train = encoder.transform(X_train)
X_test = encoder.transform(X_test)

# Label Encoding

In [50]:
df['purchased'].unique()

array(['No', 'Yes'], dtype=object)

In [51]:
le = LabelEncoder()

In [52]:
le.fit(y_train)

LabelEncoder()

In [53]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [54]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

# One Hot Encoding

 Multicollinearity ---> It occurs when two or more independent variables highly corelate to one another

In [59]:
import pandas as pd
import numpy as np

In [60]:
df = pd.read_csv("https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day27-one-hot-encoding/cars.csv")
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [5]:
df.fuel.value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

# One hot encoding with Pandas

- here the dimensionality of data is 5, after encoding its dimensionality will increase

In [64]:
pd.get_dummies(df, columns=['fuel', 'owner'], dtype=int)

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

### K-1 Encoding

In [63]:
pd.get_dummies(df, columns=['fuel', 'owner'], drop_first=True, dtype=int)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

### One hot encoding with Sklearn

In [65]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [70]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, 0:4], df.iloc[:, -1], test_size=0.3, random_state=1)

In [ ]:
#We have to encode these columns seperately

In [80]:
from sklearn.preprocessing import OneHotEncoder
ohe  =  OneHotEncoder(drop='first', sparse=False, dtype=int)

In [81]:
ohe.fit(X_train[['fuel', 'owner']])

C:\Users\Maryam\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(drop='first', dtype=<class 'int'>, sparse=False,
              sparse_output=False)

In [82]:
X_train_new = ohe.transform(X_train[['fuel', 'owner']])
X_test_new = ohe.transform(X_test[['fuel', 'owner']])

In [83]:
X_test_new

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 1],
       [1, 0, 0, ..., 0, 0, 0]])

In [88]:
# join transformed columns with original columns
X_train = np.hstack((X_train[['brand', 'km_driven']].values, X_train_new))

### One hot encoding on `brand` column

In [93]:
brand_counts = df['brand'].value_counts()

In [94]:
thresh = 100

In [100]:
others = brand_counts[brand_counts <=thresh].index

In [102]:
pd.get_dummies(df['brand'].replace(others, 'others'), drop_first=True, dtype=int)

,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,others
0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,0,0,0,1,0,0,0,0,0,0,0,0
8124,0,0,0,1,0,0,0,0,0,0,0,0
8125,0,0,0,0,0,1,0,0,0,0,0,0
8126,0,0,0,0,0,0,0,0,1,0,0,0
8127,0,0,0,0,0,0,0,0,1,0,0,0